@font-face {
    font-family: 'SquarePixel22';
    src: url('font/SquarePixel22.ttf');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('font/PressStart2P.ttf');
}

:root {
    --main-color: #FFD700;
    --secondary-color: #110E69;
    --third-color: #211BCF;
    --headline-font: 'SquarePixel22';
    --text-font: 'PressStart2P';
    --border: 3px solid #FFD700;
}

* {
    user-select: none;
}

body, html {
    margin: 0;
}

body {
    background-image: url('img/background.jpg');
    background-size: cover;
}

h1 {
    font-family: 'SquarePixel22';
    font-size: 64;
    text-align: center;
    background: linear-gradient( #FFD700, #9C9052);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

p {
    font-family: 'PressStart2P';
    font-size: 24;
    text-align: center;
    color: #FFD700;
}

ul {
    color: var(--main-color);
    font-family: var(--text-font);
}

#header {
    width: 100%;
    background: linear-gradient( #110E69, #130F75, #211BCF);
    position: absolute;
    top: 0;
}

.button {
    padding: 1em 2em;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #211BCF;
    transition: all 1s;
    font-size: 15px;
    position: relative;
    overflow: hidden;

  }
  
.button:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  
.button::before {

    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #211BCF;
    z-index: -1;
    transition: width 1000ms;
  }
  
.button:hover::before {
    width: 250%;
  }

.button {
    background-color: #110E69;
    font-family: 'PressStart2P';
    position: relative;
    top: 4cm;
    text-align: center;
    color: #FFD700;
    width: 144px;
    height: 23px;
    padding: 15px;
    left: 18cm;
    border: solid 3px #FFD700;
    margin-top: 5mm;
}

.button:hover {
    background-color: white;
    color: #110E69;
    cursor: pointer;
    border-color: #110E69;
    
}

.textBox {
    background-color: #110E69;
    font-family: 'PressStart2P';
    position: relative;
    top: 4cm;
    text-align: center;
    color: #FFD700;
    width: 158px;
    height: 23px;
    padding: 15px;
    left: 18cm;
    border: solid 3px #FFD700;
    margin-top: 5mm;
    margin-bottom: 40px;
}

.settOp {
    display: flex;
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}

.arrowLeft {
    width: 100px;
    height: 100px;
    background-image: url('img/arrowLeft.png');
    background-size: cover;
}

.arrowLeft:hover {
    cursor: pointer;
    background-image: url("img/arrowLeft_Blue.png");
}

.arrowRight {
    width: 100px;
    height: 100px;
    background-image: url('img/arrowRight.png');
    background-size: cover;
    bottom: 5px;
    position: relative;
}

.arrowRight:hover {
    cursor: pointer;
    background-image: url("img/arrowRight_Blue.png");
}

#settings {
    right: 8cm;
    position: relative;
    bottom: 4.25cm;
}

#settingsHeadlines {
    right: 7cm;
    position: relative;
}

.settOp p{
    position: relative;
    top: 0.5cm;
}

.settOp {
    margin-bottom: 5px;
    position: relative;
    left: 25cm;
}

#backbutton {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 500px;
    left: 500px;
    background-image: url('img/backButton.png');
}

#backbutton:hover {
    cursor: pointer;
    background-image: url('img/backButton_Blue.png');
}

.infoBox {
    width: 500px;
    position: relative;
    top: 4cm;
    font-family: var(--text-font);
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    border: var(--border);
    text-align: left;
}

