@font-face {
    font-family: 'SquarePixel22';
    src: url('font/SquarePixel22.ttf');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('font/PressStart2P.ttf');
}

* {
    user-select: none;
}

body, html {
    margin: 0;
}

body {
    background-image: url('img/background.jpg');
    background-size: cover;
}

h1 {
    font-family: 'SquarePixel22';
    font-size: 64;
    text-align: center;
    background: linear-gradient( #FFD700, #9C9052);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#header {
    width: 100%;
    background: linear-gradient( #110E69, #130F75, #211BCF);
    position: absolute;
    top: 0;
}

.button {
    background-color: #110E69;
    font-family: 'PressStart2P';
    position: relative;
    top: 4cm;
    text-align: center;
    color: #FFD700;
    width: 124px;
    height: 23px;
    padding: 15px;
    left: 18cm;
    border: solid 3px #FFD700;
    margin-top: 5mm;
}

.button:hover {
    background-color: white;
    color: #110E69;
    cursor: pointer;
    border-color: #110E69;
}


